body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
}
li{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2rem; 
    color: rgb(191, 205, 224);
}
p{
    font-size: 1rem;
    font-family: 'Gemunu Libre' , sans-serif;
    font-style: italic;
    border: 10px;
    border-color: rgba(1991,205,224,0.85);
    border-style: groove;
    line-height: 40px;
    color: #EF6F6C;
    font-size: xx-large;
}
.boxmodel{
    text-align: center;
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px 5px;
    

}

